In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:/Users/HP/Downloads/cars.csv", usecols = ['name', 'km_driven','fuel','owner','selling_price'])

In [2]:
df

,name,selling_price,km_driven,fuel,owner
0,Maruti 800 AC BSII,50000,100000,Petrol,Fourth & Above Owner
1,Maruti Gypsy E MG410W ST,95000,100000,Petrol,Second Owner
2,Mahindra Jeep CL 500 MDI,250000,35000,Diesel,Second Owner
3,Mahindra Jeep MM 540,200000,60000,Diesel,First Owner
4,Mahindra Jeep CL 500 MDI,150000,120000,Diesel,Third Owner
...,...,...,...,...,...
4335,Hyundai Venue SX Opt Turbo BSIV,1050000,1100,Petrol,First Owner
4336,Hyundai Grand i10 1.2 Kappa Magna BSIV,545000,5000,Petrol,First Owner
4337,Ford Figo Aspire 1.5 TDCi Titanium,530000,45000,Diesel,First Owner
4338,Tata Harrier XE,426000,1000,Diesel,First Owner
4339,Honda Amaze S Petrol BSIV,614000,1000,Petrol,First Owner

In [3]:
df.isnull().sum()

name             0
selling_price    0
km_driven        0
fuel             0
owner            0
dtype: int64

In [4]:
df['owner'].value_counts()

First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: owner, dtype: int64

# One Hot Encoding Using pandas : It is used when we need to apply encoding on multiple cols

In [5]:
pd.get_dummies(df, columns = ['fuel' ,'owner'])

,name,selling_price,km_driven,fuel_CNG,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti 800 AC BSII,50000,100000,0,0,0,0,1,0,1,0,0,0
1,Maruti Gypsy E MG410W ST,95000,100000,0,0,0,0,1,0,0,1,0,0
2,Mahindra Jeep CL 500 MDI,250000,35000,0,1,0,0,0,0,0,1,0,0
3,Mahindra Jeep MM 540,200000,60000,0,1,0,0,0,1,0,0,0,0
4,Mahindra Jeep CL 500 MDI,150000,120000,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai Venue SX Opt Turbo BSIV,1050000,1100,0,0,0,0,1,1,0,0,0,0
4336,Hyundai Grand i10 1.2 Kappa Magna BSIV,545000,5000,0,0,0,0,1,1,0,0,0,0
4337,Ford Figo Aspire 1.5 TDCi Titanium,530000,45000,0,1,0,0,0,1,0,0,0,0
4338,Tata Harrier XE,426000,1000,0,1,0,0,0,1,0,0,0,0
4339,Honda Amaze S Petrol BSIV,614000,1000,0,0,0,0,1,1,0,0,0,0

In [6]:
pd.get_dummies(df, columns = ['fuel', 'owner'], drop_first = True)

,name,selling_price,km_driven,fuel_Diesel,fuel_Electric,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti 800 AC BSII,50000,100000,0,0,0,1,1,0,0,0
1,Maruti Gypsy E MG410W ST,95000,100000,0,0,0,1,0,1,0,0
2,Mahindra Jeep CL 500 MDI,250000,35000,1,0,0,0,0,1,0,0
3,Mahindra Jeep MM 540,200000,60000,1,0,0,0,0,0,0,0
4,Mahindra Jeep CL 500 MDI,150000,120000,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
4335,Hyundai Venue SX Opt Turbo BSIV,1050000,1100,0,0,0,1,0,0,0,0
4336,Hyundai Grand i10 1.2 Kappa Magna BSIV,545000,5000,0,0,0,1,0,0,0,0
4337,Ford Figo Aspire 1.5 TDCi Titanium,530000,45000,1,0,0,0,0,0,0,0
4338,Tata Harrier XE,426000,1000,1,0,0,0,0,0,0,0
4339,Honda Amaze S Petrol BSIV,614000,1000,0,0,0,1,0,0,0,0

# One Hot Encoding using SKlearn

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:5],df.iloc[:,-3],test_size = 0.2, random_state = 2)

In [9]:
x_train.head()

,name,selling_price,km_driven,fuel,owner
3581,Mahindra TUV 300 mHAWK100 T8,800000,60000,Diesel,First Owner
4191,Maruti Celerio LXI MT BSIV,340000,50000,Petrol,First Owner
2450,Maruti Swift ZDi,550000,38406,Diesel,First Owner
984,Tata Indica Vista Aqua 1.4 TDI,125000,81000,Diesel,Second Owner
3546,Renault KWID AMT,355000,40000,Petrol,First Owner

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [11]:
ohe = OneHotEncoder(drop = 'first', sparse = False, dtype = np.int32)

In [12]:
x_train_new = ohe.fit_transform(x_train[['fuel','owner']])

E:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [13]:
x_test_new = ohe.fit_transform(x_test[['fuel','owner']])

E:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:
x_test_new.shape

(868, 7)

In [16]:
x_train_new.shape

(3472, 8)

In [17]:
import numpy as np
import pandas as pd
df = pd.read_csv("C:/Users/HP/Downloads/covid_toy.csv")

In [18]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [20]:
from sklearn.impute import SimpleImputer # for misssing values imputation
from sklearn.preprocessing import OrdinalEncoder #category ==> sub-catgory ==>column creation
from sklearn.preprocessing import OneHotEncoder#sub-category ==> convert into numbers

In [21]:
x = df.drop(columns = ['has_covid'])
y = df['has_covid']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

# Manually type output

In [23]:
si = SimpleImputer()
x_train_fever = si.fit_transform(x_train[['fever']])
x_test_fever = si.fit_transform(x_test[['fever']])

In [24]:
x_train_fever.shape

(80, 1)

# Step - 2

# ordinal-encoding ==>cough

In [25]:
oe = OrdinalEncoder(categories = [['Mild', 'Strong']])
x_train_cough = oe.fit_transform(x_train[['cough']])

In [26]:
x_train_cough.shape

(80, 1)

# Step OneHotEncoding ===> Gender, city

In [29]:
ohe = OneHotEncoder(drop = 'first', sparse = False)
x_train_gender_city = ohe.fit_transform(x_train[['gender', 'city']])

E:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [38]:
x_train_gender_city.shape

(80, 4)

# Step 4 (Extracting Age)

In [31]:
x_train_age = x_train.drop(columns = ['gender','fever','cough','city']).values

In [32]:
x_train_age.shape

(80, 1)

# Step 5(concatenate all the data)

In [40]:
x_train_transformed = np.concatenate((x_train_age,x_train_fever,x_train_gender_city,x_train_cough ),axis =1)
x_train_transformed.shape

(80, 7)

# We Can Do This in one Cell using column transformer

In [34]:
from sklearn.compose import ColumnTransformer

In [36]:
transformer = ColumnTransformer(transformers = [
    ('a',SimpleImputer(),['fever']),#Simple Imputter fill your missing values
    ('b',OrdinalEncoder(categories = [['Mild','Strong']]),['cough']),
    ('c',OneHotEncoder(sparse = False,drop = 'first'),['gender','city'])
],remainder = 'passthrough')#remaider = 'passthrough' ==> Means rest all are columns remain constant

In [37]:
transformer.fit_transform(x_train).shape

E:\anaconda\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)